<!--
  SPDX-FileCopyrightText: 2024 Max Mehl <https://mehl.mx>
  SPDX-License-Identifier: MIT
-->
{{- $imgs := .imgs -}}
{{- $galno := .galno -}}
<div class="snap-slideshow" id="snap-slideshow-{{ $galno }}" style="--columns:1;--min-width:0px;--gap:0px;--slideshow-width:{{ default "100%" .width }};--cursor:{{ .cursor }};--aspectratio:{{ safeCSS (default "16/10" .aspectratio) }};">
  {{- range $i, $img := $imgs }}
  <div class="snap-image">
    <div class="snap-numbertext">{{ add $i 1 }} / {{ len $imgs }}</div>
    {{- with $img.html.title }}
      <div class="snap-caption">{{ . }}</div>
    {{- end }}
    <img
      src="{{ relURL $img.src }}"
      {{ range $attr, $value := $img.html -}}
        {{ safeHTMLAttr $attr }}={{ $value }}
      {{ end -}}
      onclick="openLightbox({{ $galno }});openLightboxItem({{ $galno }}, {{ add $i 1 }});" />
  </div>
  {{- end }}

  <a class="snap-prev" onclick="moveSlideshowItem({{ $galno }}, -1)"><span>&#10094;</span></a>
  <a class="snap-next" onclick="moveSlideshowItem({{ $galno }}, 1)"><span>&#10095;</span></a>
</div>
