{{ define "main" }}
<!-- Hero Section - Home Page -->
<section id="hero" class="hero">
  <div class="container">
    <div class="row align-items-center d-flex justify-content-between">
      <div
        class="col-xxl-4 col-lg-5 col-md-5 col-sm-12 my-padi"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <h2>Write a Good Heading for this header</h2>
        <br />
        <p>
          The future of neuroscience will be driven by collaboration between
          labs.
        </p>
        <div class="btn m-0 p-0 mt-5">
          <a class="btn-getstarted" href="mailto:contact@website.com"
            >Contact Us <i class="bi bi-arrow-up-right"></i
          ></a>
        </div>
      </div>
      <div class="col-xxl-7 col-lg-7 col-md-7 col-sm-12 img">
        <img
          data-aos="fade-up"
          data-aos-delay="100"
          src="{{ .Site.BaseURL }}/assets/img/hero-img.png"
          alt="Hero Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<!-- Clients Section - Home Page -->
<section class="mission">
  <div class="container mission-bg">
    <div class="row align-items-center">
      <div
        class="col-lg-6 col-md-12 imgs"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <h2
          data-aos="fade-up"
          data-aos-delay="200"
          class="d-block d-lg-none pt-5 px-1 my-padi"
        >
          Our Mission
        </h2>
        <img
          src="{{ .Site.BaseURL }}/assets/img/mission.png"
          alt="Mission Image"
          class="img-fluid p-md-5"
        />
      </div>
      <div class="col-lg-6 col-md-12 content my-padi">
        <h2 data-aos="fade-up" data-aos-delay="200" class="d-none d-lg-block">
          Our Mission
        </h2>
        <p data-aos="fade-up" data-aos-delay="300">
          We believe that the future of neuroscience will be driven by
          collaboration between labs. Our mission is to develop channels of
          communication and distribution of resources between labs to enable
          exponential growth and innovation.
          <br /><br />
          We are at the forefront of this effort, shaping the way data, analysis
          and visualization tools are standardized and shared across the
          international community of systems neuroscientists.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<!-- Software Section - Home Page -->
<section class="software">
  <div class="container" data-aos="fade-up">
    <div class="row pt-5 pb-5">
      <div class="col-lg-5 my-padi">
        <h2>Software</h2>
        <img
          src="{{ .Site.BaseURL }}/assets/img/software.png"
          alt="Software Image"
          class="img-fluid p-5 d-block d-lg-none"
        />
        <p>
          CatalystNeuro develops software solutions across the data pipeline
          aimed to help neuroscientists focus on the science and accelerate
          their discovery process immediately. We release and support packages
          for data homogenization, visualization, analysis, and lab-wide
          records. <br /><br />
          These libraries are developed by a team that focuses specifically on
          neural data and good software practices. Our projects are packaged,
          documented, and tested for robustness and ease of use. Everything we
          build is released as it is developed under a permissive license.<br /><br />
          We commonly work with labs to customize these software solutions to
          the specific needs of the lab, interfacing our platforms with their
          data formats and analysis packages.
        </p>
        <div class="btn m-0 p-0 mt-5">
          <a class="btn-getstarted" href="/contact-us"
            >Explore more <i class="bi bi-arrow-up-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-7 d-none d-lg-block my-padi">
        <img
          src="{{ .Site.BaseURL }}/assets/img/software.png"
          alt="Software Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
<!-- End Software Section -->

<!-- Portfolio Section - Home Page -->
<section class="portflio">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 my-padi text-area">
        <div class="text">
          <h2 class="title">Clients</h2>
          <p class="sub-content">
            We help neuroscientists utilize state-of-the-art tools in data
            analysis, visualization, organization, sharing, and publishing.
          </p>
        </div>
        <a href="{{ .Site.BaseURL }}/portfolio/" class="btn d-none d-lg-inline"
          >Explore More ></a
        >
      </div>

      <div class="col-lg-9 my-padi">
        <div class="swiper mySwiper">
          <div class="nav d-lg-flex">
            <div class="swiper-button-prev">
              <div class="line-2"></div>
              <i class="bi bi-chevron-left"></i>
            </div>
            <div class="swiper-button-next">
              <div class="line"></div>
              <i class="bi bi-chevron-right"></i>
            </div>
          </div>
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="pt-md-0 pt-lg-5 slide">
                <div class="card">
                  <img
                    src="{{ .Site.BaseURL }}/assets/img/portfolio/1.png"
                    alt="Portfolio IMG"
                    class="img-fluid"
                  />
                  <p>
                    Interactive data visualization for NWB Alien Institute and
                    Kitware Inc.
                  </p>
                  <a href="{{ .Site.BaseURL }}/portfolio#p1" class="btn">
                    View Details <i class="bi bi-arrow-up-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <!---->

            <div class="swiper-slide">
              <div class="pt-md-0 pt-lg-5 slide">
                <div class="card">
                  <img
                    src="{{ .Site.BaseURL }}/assets/img/portfolio/2.png"
                    alt="Portfolio IMG"
                    class="img-fluid"
                  />
                  <p>
                    Interactive data visualization for NWB Alien Institute and
                    Kitware Inc.
                  </p>
                  <a href="{{ .Site.BaseURL }}/portfolio#p2" class="btn">
                    View Details <i class="bi bi-arrow-up-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <!---->
            <div class="swiper-slide">
              <div class="pt-md-0 pt-lg-5 slide">
                <div class="card">
                  <img
                    src="{{ .Site.BaseURL }}/assets/img/portfolio/3.png"
                    alt="Portfolio IMG"
                    class="img-fluid"
                  />
                  <p>
                    Interactive data visualization for NWB Alien Institute and
                    Kitware Inc.
                  </p>
                  <a href="{{ .Site.BaseURL }}/portfolio#p1" class="btn">
                    View Details <i class="bi bi-arrow-up-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <!---->

            <div class="swiper-slide">
              <div class="pt-md-0 pt-lg-5 slide">
                <div class="card">
                  <img
                    src="{{ .Site.BaseURL }}/assets/img/portfolio/1.png"
                    alt="Portfolio IMG"
                    class="img-fluid"
                  />
                  <p>
                    Interactive data visualization for NWB Alien Institute and
                    Kitware Inc.
                  </p>
                  <a href="{{ .Site.BaseURL }}/portfolio#p1" class="btn">
                    View Details <i class="bi bi-arrow-up-right"></i>
                  </a>
                </div>
              </div>
            </div>

            <!---->
            <div class="swiper-slide">
              <div class="pt-md-0 pt-lg-5 slide">
                <div class="card">
                  <img
                    src="{{ .Site.BaseURL }}/assets/img/portfolio/2.png"
                    alt="Portfolio IMG"
                    class="img-fluid"
                  />
                  <p>
                    Interactive data visualization for NWB Alien Institute and
                    Kitware Inc.
                  </p>
                  <a href="{{ .Site.BaseURL }}/portfolio#p2" class="btn">
                    View Details <i class="bi bi-arrow-up-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <a
            href="{{ .Site.BaseURL }}/portfolio/"
            class="btn d-inline d-md-none"
            >Explore More ></a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Portfolio Section -->

<section class="blog">
  <div class="container">
    <header class="text-center pb-5">
      <h2>Latest News and Blog</h2>
    </header>
    <div class="row mt-5 my-padi">
      {{ range where .Site.RegularPages "Type" "feature" }}
      <div class="col-lg-6 featured-blogs p-5 mb-3">
        <a href="" class="tag">Featured</a>
        <a href="{{.Permalink}}"> <h2>{{.Title}}</h2></a>
      </div>
      {{end}}
      <div class="col-lg-6 blog-list">
        <ul>
          {{ $posts := .Site.GetPage "section" "blog" }}
          <!---->
          {{ $recentPosts := slice }}
          <!---->

          {{ range first 4 $posts.Pages }}
          <li>
            <p class="date">{{ .Date.Format "January 2, 2006" }}</p>
            <a href="{{.Permalink}}"><h4>{{.Title}}</h4></a>
          </li>
          {{end}}
        </ul>
        <a href="{{ .Site.BaseURL }}/blog" class="explore">Explore More ></a>
      </div>
    </div>
  </div>
</section>

<!-- Client Section - Home Page -->
<secion class="client d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-1.png"
          alt="Client Logo 1"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->

      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-2.png"
          alt="Client Logo 2"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->

      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-3.png"
          alt="Client Logo 3"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->

      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-4.png"
          alt="Client Logo 4"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->

      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-5.png"
          alt="Client Logo 5"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->
    </div>
  </div>
</secion>
<!-- End Client Section -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients d-block d-lg-none">
  <div class="container" data-aos="fade-up">
    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center mb-md-5">
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-1.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-2.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="a{{ .Site.BaseURL }}/assets/img/logo-3.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-4.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-5.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Clients Section -->

<!-- Call to action Section - Home Page -->
<section class="cta">
  <div class="container">
    <div class="row justify-content-between">
      <div
        class="col-lg-5 col-md-7 flex-desktop"
        ta-aos="fade-up"
        data-aos-delay="100"
      >
        <h2 class="my-padi">If you’d like to learn more contact us today.</h2>
        <br />
        <p class="my-padi">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ante sem,
          dignissim in diam ac.
        </p>

        <div class="btn m-0 mt-5 my-padi">
          <a class="btn-getstarted" href="mailto:contact@website.com"
            >Contact Us <i class="bi bi-arrow-up-right"></i
          ></a>
        </div>
      </div>

      <div
        class="col-lg-6 col-md-5 img"
        ta-aos="fade-down"
        data-aos-delay="200"
      >
        <img
          src="{{ .Site.BaseURL }}/assets/img/cta.png"
          alt="CTA Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
<!-- End Call to action Section -->
{{end}}
