{{define "main"}}

<style>
  .customBg:hover {
    background-color: #1466a7;
  }

  .customBg:hover .customText {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 350ms;
    color: white !important;
    border-color: white;
    cursor: pointer;
  }
</style>

<section class="inner-page-hero custom">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h2>Clients</h2>
      </div>
    </div>
  </div>
</section>

<section class="shadow-sm p-4 container nt-margin rounded-4">
  <div class="row g-3">
    {{ range .Paginator.Pages }} {{ with .Params }}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div
        class="rounded-4 border p-4 h-100 d-flex flex-column justify-content-between customBg"
      >
        <h4 class="text-dark fs-5 customText">{{ .title }}</h4>
        <p class="text-body-secondary fs-6 customText">
          Institution: <span class="text-dark customText">{{ .institution }}</span>
        </p>
        <p class="text-body-secondary fs-6 customText">
          Project:
          <a
            data-bs-toggle="modal"
            data-bs-target="#popBox{{ .number }}"
            class="text-primary text-decoration-underline link-offset-2 customText"
            href="/"
            >{{ .project }}</a
          >
        </p>
        <p class="text-body-secondary fs-6 customText">
          Date: <span class="text-dark customText">{{ .dates }}</span>
        </p>
        <br />
        <div>
          <button
            type="button"
            data-bs-toggle="modal"
            data-bs-target='#dropBox{{ replace .Title " " "" }}'
            class="btn btn-outline-primary rounded-5 px-5 clients-btn customText"
          >
            Details
          </button>
        </div>
        {{ end }}

        <div
          class="modal fade"
          id='dropBox{{ replace .Title " " "" }}'
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          tabindex="-1"
          aria-labelledby="staticBackdropLabel"
          aria-hidden="true"
        >
          <div
            class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
          >
            <div class="modal-content">
              <div class="modal-header row">
                <div class="col-5">
                  <h1 class="modal-title fs-5 mb-2" id="staticBackdropLabel">
                    {{ .Title }}
                  </h1>
                  <p class="text-body-secondary fs-6 mb-0">
                    Institution:
                    <span class="text-dark">{{ .Params.institution }}</span>
                  </p>
                </div>
                <div class="col-5">
                  <p class="text-body-secondary fs-6 mb-2">
                    Project:
                    <span class="text-dark">{{ .Params.project }}</span>
                  </p>
                  <p class="text-body-secondary fs-6 mb-0">
                    Dates: <span class="text-dark">{{ .Params.dates }}</span>
                  </p>
                </div>
                <button
                  type="button"
                  class="btn-close col-2 me-1 mt-2 bg-secondary p-2 rounded-circle border-1 border-white position-relative"
                  style="top: -30px"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">{{ .Content }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>

<section class="pagination">
  {{ $pag := $.Paginator }} {{ if gt $pag.TotalPages 1 }}
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-6">
        <ul
          class="d-flex justify-content-center align-items-center text-center"
        >
          <!--First-->
          <li>
            <a
              href="{{ if $pag.First }}{{ $pag.First.URL }}{{ end }}"
              class="page-link {{ if eq $pag.PageNumber 1 }}disabled{{ end }}"
              ><i class="bi bi-chevron-double-left"></i
            ></a>
          </li>

          <!--Previous-->
          <li>
            <a
              href="{{ if $pag.Prev }}{{ $pag.Prev.URL }}{{ end }}"
              class="page-link {{ if eq $pag.PageNumber 1 }}disabled{{ end }}"
              ><i class="bi bi-chevron-left"></i
            ></a>
          </li>

          <!--Pages-->
          {{- $currentPage := $pag.PageNumber }} {{- $totalPages :=
          $pag.TotalPages }} {{- $start := sub $currentPage 2 }} {{- $end := add
          $currentPage 2 }} {{- if gt $start 1 }}
          <li><a href="{{ $pag.First.URL }}" class="page-link">1</a></li>
          {{ if gt $start 2 }}
          <li><span>...</span></li>
          {{ end }} {{- end }} {{- range $i, $page := seq $start $end }} {{ if
          and (ge $page 1) (le $page $totalPages) }}
          <li>
            <a
              href="{{ (index $pag.Pagers (sub $page 1)).URL }}"
              class="page-link {{ if eq $currentPage $page }}active{{ end }}"
              >{{ $page }}</a
            >
          </li>
          {{ end }} {{- end }} {{- if lt $end $totalPages }} {{ if lt (add $end
          1) $totalPages }}
          <li><span>...</span></li>
          {{ end }}
          <li>
            <a href="{{ $pag.Last.URL }}" class="page-link"
              >{{ $totalPages }}</a
            >
          </li>
          {{- end }}

          <!--Next-->
          <li>
            <a
              href="{{ if $pag.Next }}{{ $pag.Next.URL }}{{ end }}"
              class="page-link {{ if eq $pag.PageNumber $pag.TotalPages }}disabled{{ end }}"
              ><i class="bi bi-chevron-right"></i
            ></a>
          </li>

          <!--Last-->
          <li>
            <a
              href="{{ if $pag.Last }}{{ $pag.Last.URL }}{{ end }}"
              class="page-link {{ if eq $pag.PageNumber $pag.TotalPages }}disabled{{ end }}"
              ><i class="bi bi-chevron-double-right"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  {{ end }}
</section>

<!--Call to action-->
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-padi">
        <h2>Availability for helping other labs</h2>
        <br />
        <img
          src="{{ .Site.BaseURL }}/assets/img/call-to-action.png"
          alt="cta"
          class="img-fluid d-block d-lg-none"
        />
        <br />

        <p>
          We are always interested in opportunities to work with labs on data
          infrastructure. We have a team of computational neuroscientists who
          are experts in building conversion scripts, porting tools to NWB, and
          helping to package and publicly release data. We also have experience
          building custom databases and user interfaces for lab experimental
          records. If you are interested in working with us
        </p>
        <br />
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 normal-btn">
            <a href="mailto:contact@website.com"
              >Contact Us <i class="bi bi-arrow-up-right"></i
            ></a>
          </div>
          <div class="col-md-6 contact-btn mt-5 mt-md-0">
            <a href="">
              <img src="{{ .Site.BaseURL }}/assets/img/mail.svg" alt="Mail" />
              <div class="text">
                <p>
                  <span class="text-wrap">Please contact us at </span> <br />
                  inquiry@catalystneuro.com
                </p>
              </div>
            </a>
          </div>
        </div>
        <br />

        <p>
          Our work is entirely open source. See our
          <a href="/">GitHub organization</a> for code of past and ongoing
          projects.
        </p>
      </div>

      <div class="col-md-6">
        <img
          src="{{ .Site.BaseURL }}/assets/img/call-to-action.png"
          alt="cta"
          class="img-fluid d-none d-lg-block"
        />
      </div>
    </div>
  </div>
</section>
<!--End call to action-->

<!-- Client Section - Home Page -->
<section class="client d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-1.png"
          alt="Client Logo 1"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->

      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-2.png"
          alt="Client Logo 2"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->

      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-3.png"
          alt="Client Logo 3"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->

      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-4.png"
          alt="Client Logo 4"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->

      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-5.png"
          alt="Client Logo 5"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->
    </div>
  </div>
</section>
<!-- End Client Section -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients d-block d-lg-none">
  <div class="container" data-aos="fade-up">
    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center mb-md-5">
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-1.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-2.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="a{{ .Site.BaseURL }}/assets/img/logo-3.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-4.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-5.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Clients Section -->

{{end}}
