{{define "main"}}

<section class="inner-page-hero ww-inner">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h2>{{ .Site.Data.mission.main_heading }}</h2>
      </div>
    </div>
  </div>
</section>

<!-- Clients Section - Home Page -->
<section class="mission inner">
  <div class="container mission-bg p-5">
    <div class="row align-items-center">
      <div
        class="col-md-5 d-block d-lg-none mb-5"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img
          src="{{ .Site.BaseURL }}{{ .Site.Data.mission.card_image }}"
          alt="Mission Image"
          class="img-fluid"
        />
      </div>

      <div class="col-md-7 px-xxl-5 p-0">
        <p data-aos="fade-up" data-aos-delay="300">
          {{ .Site.Data.mission.card_paragraph_1 }} <br /><br />
          {{ .Site.Data.mission.card_paragraph_2 }}
        </p>
      </div>

      <div
        class="col-md-5 d-none d-lg-block"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img
          src="{{ .Site.BaseURL }}{{ .Site.Data.mission.card_image }}"
          alt="Mission Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

{{end}}
