{{ define "main" }}
<style>
  @media (max-width: 1200px) {
    .customTop {
      top: 100px;
    }
  }

  .customBtn {
    top: -80px;
  }

  @media (min-width: 768px) {
    .customBtn {
      top: -15px;
    }
  }
</style>

{{ range where .Site.RegularPages "Type" "column" }} {{ $cleanedTitle := .Title
| replaceRE " " "" }} {{ $clearedTitle := $cleanedTitle | replaceRE "'" "" }} {{
$id := $clearedTitle | truncate 5 "" }}
<div
  class="modal fade"
  id="dropBox{{ $id }}"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="dropBox{{ $id }}"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
  >
    <div class="modal-content customTop">
      <div class="modal-header align-items-start flex-column flex-md-row row">
        <div class="col-md-5 pe-5">
          <h1 class="modal-title fs-5 mb-2" id="dropBox{{ $id }}">
            {{ .Params.project }}
          </h1>
          <p class="text-body-secondary fs-6 mb-2 mb-md-0">
            Client:
            <span class="text-dark">{{ .Params.client }}</span>
          </p>
        </div>
        <div class="col-md-5 pe-5">
          <p class="text-body-secondary fs-6 mb-0">
            Dates:
            <span class="text-dark">{{ .Params.dates }}</span>
          </p>
        </div>
        <button
          type="button"
          class="btn-close col-2 me-1 mt-2 bg-secondary p-2 rounded-circle border-1 border-white position-relative customBtn"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div>{{ .Content }}</div>
        {{ range .Params.institute }}
        <div class="row py-2 my-2 align-items-center">
          <div class="col-2 fw-semibold">{{ .date }}</div>
          <div class="col-10">{{ .name }}</div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}

<section class="inner-page-hero ww-inner">
  <div class="container d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h2>{{ .Site.Data.projects.heading }}</h2>
      </div>
    </div>
  </div>
</section>

<section class="mission inner">
  <div class="container shadow mission-bg bg-white px-0 px-md-5 py-5">
    <div class="rounded-3">
      <table class="table table-striped border">
        <thead>
          <tr>
            <th class="p-3 fs-5">Project</th>
            <th class="p-3 fs-5 border-start">Client</th>
            <th class="p-3 fs-5 border-start text-end">Dates</th>
          </tr>
        </thead>
        <tbody>
          {{ range where .Site.RegularPages "Type" "column" }} {{ $cleanedTitle
          := .Title | replaceRE " " "" }} {{ $clearedTitle := $cleanedTitle |
          replaceRE "'" "" }} {{ $id := $clearedTitle | truncate 5 "" }}
          <tr>
            <td class="p-3 border-start">
              <a
                href=""
                data-bs-toggle="modal"
                data-bs-target="#dropBox{{ $id }}"
                data-bs-backdrop="false"
                class="text-primary text-decoration-underline link-offset-2"
                >{{ .Title }}</a
              >
            </td>
            <td class="p-3 border-start text-secondary">
              {{ .Params.client }}
            </td>
            <td class="p-3 border-start border-end text-end fw-semibold">
              {{ .Params.dates }}
            </td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</section>

<!--Call to action-->
<section class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 my-padi">
        <h2>Availability for helping other labs</h2>
        <br />
        <img
          src="{{ .Site.BaseURL }}/assets/img/call-to-action.png"
          alt="cta"
          class="img-fluid d-block d-lg-none"
        />
        <br />

        <p>
          We are always interested in opportunities to work with labs on data
          infrastructure. We have a team of computational neuroscientists who
          are experts in building conversion scripts, porting tools to NWB, and
          helping to package and publicly release data. We also have experience
          building custom databases and user interfaces for lab experimental
          records. If you are interested in working with us
        </p>
        <br />
        <div class="row justify-content-center align-items-center">
          <div class="col-md-6 normal-btn">
            <a href="mailto:contact@website.com"
              >Contact Us <i class="bi bi-arrow-up-right"></i
            ></a>
          </div>
          <div class="col-md-6 contact-btn mt-5 mt-md-0">
            <a href="">
              <img src="{{ .Site.BaseURL }}/assets/img/mail.svg" alt="Mail" />
              <div class="text">
                <p>
                  <span class="text-wrap">Please contact us at </span> <br />
                  inquiry@catalystneuro.com
                </p>
              </div>
            </a>
          </div>
        </div>
        <br />

        <p>
          Our work is entirely open source. See our
          <a href="/">GitHub organization</a> for code of past and ongoing
          projects.
        </p>
      </div>

      <div class="col-md-6">
        <img
          src="{{ .Site.BaseURL }}/assets/img/call-to-action.png"
          alt="cta"
          class="img-fluid d-none d-lg-block"
        />
      </div>
    </div>
  </div>
</section>
<!--End call to action-->

<!-- Client Section - Home Page -->
<section class="client d-none d-lg-block">
  <div class="container">
    <div class="row">
      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-1.png"
          alt="Client Logo 1"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->

      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-2.png"
          alt="Client Logo 2"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->

      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-3.png"
          alt="Client Logo 3"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->

      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-4.png"
          alt="Client Logo 4"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->

      <div class="col">
        <img
          src="{{ .Site.BaseURL }}/assets/img/logo-5.png"
          alt="Client Logo 5"
          class="img-fluid p-2"
        />
      </div>

      <!--End Image-->
    </div>
  </div>
</section>
<!-- End Client Section -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients d-block d-lg-none">
  <div class="container" data-aos="fade-up">
    <div class="clients-slider swiper">
      <div class="swiper-wrapper align-items-center mb-md-5">
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-1.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-2.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-3.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-4.png"
            class="img-fluid"
            alt=""
          />
        </div>
        <div class="swiper-slide px-5 px-lg-0">
          <img
            src="{{ .Site.BaseURL }}/assets/img/logo-5.png"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Clients Section -->
{{ end }}
