{{define "main"}}

<section class="inner-page-hero sf-inner ww-inner">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h2>{{ .Site.Data.software.main_heading }}</h2>
      </div>
    </div>
  </div>
</section>

<!-- Clients Section - Home Page -->
<section class="mission inner">
  <div class="container mission-bg p-5">
    <div class="row align-items-center">
      <div
        class="col-md-6 d-block d-lg-none mb-5"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img
          src="{{ .Site.BaseURL }}{{ .Site.Data.software.card_image }}"
          alt="Mission Image"
          class="img-fluid"
        />
      </div>

      <div class="col-md-6 p-0">
        <p data-aos="fade-up" data-aos-delay="300">
          {{ .Site.Data.software.card_paragraph }}
        </p>
      </div>

      <div
        class="col-md-6 d-none d-lg-block"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <img
          src="{{ .Site.BaseURL }}{{ .Site.Data.software.card_image }}"
          alt="Mission Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-12 my-padi">
        <div
          class="accordion accordion-flush"
          id="faqlist"
          data-aos="fade-up"
          data-aos-delay="100"
        >

        {{ range .Site.Data.software.faqs }}
          <div class="accordion-item">
            <h3 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#faq-content-{{ .faq_number }}"
              >
              {{ .name }}
              </button>
            </h3>
            <div
              id="faq-content-{{ .faq_number }}"
              class="accordion-collapse collapse"
              data-bs-parent="#faqlist"
            >
              <div class="accordion-body">
                <div class="row mt-5">
                  <div class="col-lg-6 d-block d-lg-none mb-5">
                    <img
                      src="{{ .Site.BaseURL }}/{{ .image }}"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                  <div class="col-lg-6">
                    <h3>{{ .heading }}</h3>
                    {{ range .details }}
                    <p class="pb-2">
                      {{ .paragraph }}
                    </p>
                    {{ end }}
                    <ul class="flex-row gap-3">
                      {{ with .docs }}
                      <li class="btn p-0"><a class="btn-getstarted" href="{{ . }}">
                        Documentation
                        <i class="bi bi-arrow-up-right text-light"> </i>
                      </a></li>
                      {{ end }}
                      {{ with .github }}
                      <li class="btn p-0"><a class="btn-getstarted" href="{{ . }}">
                        Github
                        <i class="bi bi-arrow-up-right text-light"> </i>
                      </a></li>
                      {{ end }}
                    </ul>
                  </div>

                  <div class="col-lg-6 d-none d-lg-block">
                    <img
                      src="{{ .Site.BaseURL }}/{{ .image }}"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
          <!-- # Faq item-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Frequently Asked Questions Section -->

<section class="social">
  <div class="container">
    <header class="text-center mb-5">
      <h2>Contributions:</h2>
      <p>We are major contribution to the following repositories:</p>
    </header>
    <div class="row justify-content-center mt-5">
      {{ range .Site.Data.software.repositories }}
      <div class="col-lg-2 d-flex align-items-stretch">
        <div class="card">
          <i class="bi bi-github"></i>
          <a href="{{ .url }}" class="stretched-link">{{ .name }}</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{end}}
