{{define "main"}}
<section class="inner-page-hero custom">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h2>{{ .Site.Data.team.main_heading }}</h2>
      </div>
    </div>
  </div>
</section>

<section class="team">
  <div class="container">
    <header class="text-center">
      <h2>Current Members</h2>
    </header>
    <div class="row">

      {{ range .Site.Data.team.current_team_card }}
      <div class="col-lg-4 my-padi my-3">
        <div class="card">
          <div class="img">
            <div class="w-100 d-flex justify-content-center">
              <img src="{{ .Site.BaseURL }}/{{ .image }}" alt="Team" class="img-fluid " />
            </div>
            <div class="border-box">
              <h4>{{ .post }}</h4>
              <div class="text">
                <h3>{{ .name }}</h3>
                <p>
                  {{ .bio }}
                </p>

                <p class="d-none" id="content-{{ .card_number }}">
                  {{ .more_bio }}
                </p>
                <a href="#" class="read-more" data-target="content-{{ .card_number }}">Read More</a>
              </div>

              <div class="social">
                <ul>
                  {{ with .github }}
                  <li>
                    <a href="{{ . }}"><i class="bi bi-github"></i></a>
                  </li>
                  {{ end }}
                  {{ with .website }}
                  <li>
                    <a href="{{ . }}"><i class="bi bi-globe"></i></a>
                  </li>
                  {{ end }}
                  {{ with .facebook }}
                  <li>
                    <a href="{{ . }}"><i class="bi bi-facebook"></i></a>
                  </li>
                  {{ end }}
                  {{ with .twitter }}
                  <li>
                    <a href="{{ . }}"><i class="bi bi-twitter-x"></i></a>
                  </li>
                  {{ end }}
                  {{ with .linkedin }}
                  <li>
                    <a href="{{ . }}"><i class="bi bi-linkedin"></i></a>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="collaborators bg">
  <div class="container">
    <header class="text-center pb-5">
      <h2>Collaborators</h2>
    </header>

    <div class="row">
      {{ range .Site.Data.team.collaborators }}
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">{{ .collaborator }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="collaborators">
  <div class="container">
    <header class="text-center pb-5">
      <h2>Alumni</h2>
    </header>

    <div class="row">
      {{ range .Site.Data.team.alumnis }}
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">{{ .alumni }}</div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

<!-- Call to action Section - Home Page -->
<section class="cta cta-team">
  <div class="container bg">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-md-7 p-5" ta-aos="fade-up" data-aos-delay="100">
        <h2 class="my-padi">{{ .Site.Data.team.job_openining_heading }}</h2>
        <br />
        <p class="my-padi">
          {{ .Site.Data.team.job_openining_paragraph }}
        </p>

        <div class="btn m-0 p-0 mt-5 my-padi">
          <a class="btn-getstarted" href="{{ .Site.BaseURL }}/work-with-us/">Read More <i
              class="bi bi-arrow-up-right"></i></a>
        </div>
      </div>

      <div class="col-lg-6 col-md-5 img" ta-aos="fade-down" data-aos-delay="200">
        <img src="{{ .Site.BaseURL }}/assets/img/team-cta.png" alt="CTA Image" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<!-- End Call to action Section -->

{{end}}