{{define "main"}}
<section class="inner-page-hero custom">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h2>Our Team</h2>
      </div>
    </div>
  </div>
</section>

<section class="team">
  <div class="container">
    <header class="text-center">
      <h2>Current Members</h2>
    </header>
    <div class="row">
      <div class="col-lg-4 my-padi">
        <div class="card">
          <div class="img">
            <div class="w-100 d-flex justify-content-center">
              <img src="{{ .Site.BaseURL }}/assets/img/team/1.png" alt="Team" class="img-fluid " />
            </div>
            <div class="border-box">
              <h4>Lead Neurodata Scientist</h4>
              <div class="text">
                <h3>Luiz Tauffer</h3>
                <p>
                  Luiz has a BSc in Electrical Engineering, MSc in Biomedical
                  Engineering and am currently at the late stages of his PhD in
                  Computational Neuroscience.
                </p>

                <p class="d-none" id="content-1">
                  Luiz has a BSc in Electrical Engineering, MSc in Biomedical
                  Engineering and am currently at the late stages of his PhD in
                  Computational Neuroscience.
                </p>
                <a href="#" class="read-more" data-target="content-1">Read More</a>
              </div>

              <div class="social">
                <ul>
                  <li>
                    <a href="/"><i class="bi bi-github"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="bi bi-globe"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="bi bi-facebook"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="bi bi-twitter-x"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="bi bi-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-padi">
        <div class="card">
          <div class="img">
            <div class="w-100 d-flex justify-content-center">
              <img src="{{ .Site.BaseURL }}/assets/img/team/2.png" alt="Team" class="img-fluid" />
            </div>
            <div class="border-box">
              <h4>Lead Neurodata Scientist</h4>
              <div class="text">
                <h3>Luiz Tauffer</h3>
                <p>
                  Luiz has a BSc in Electrical Engineering, MSc in Biomedical
                  Engineering and am currently at the late stages of his PhD in
                  Computational Neuroscience.
                </p>
  
                <p class="d-none" id="content-2">
                  Luiz has a BSc in Electrical Engineering, MSc in Biomedical
                  Engineering and am currently at the late stages of his PhD in
                  Computational Neuroscience.
                </p>
                <a href="#" class="read-more" data-target="content-2">Read More</a>
              </div>
  
              <div class="social">
                <ul>
                  <li>
                    <a href="/"><i class="bi bi-github"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="bi bi-globe"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="bi bi-facebook"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="bi bi-twitter-x"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="bi bi-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 my-padi">
        <div class="card">
          <div class="img">
            <div class="w-100 d-flex justify-content-center">
              <img src="{{ .Site.BaseURL }}/assets/img/team/1.png" alt="Team" class="img-fluid" />
            </div>
            <div class="border-box">
              <h4>Lead Neurodata Scientist</h4>
              <div class="text">
                <h3>Luiz Tauffer</h3>
                <p>
                  Luiz has a BSc in Electrical Engineering, MSc in Biomedical
                  Engineering and am currently at the late stages of his PhD in
                  Computational Neuroscience.
                </p>
  
                <p class="d-none" id="content-3">
                  Luiz has a BSc in Electrical Engineering, MSc in Biomedical
                  Engineering and am currently at the late stages of his PhD in
                  Computational Neuroscience.
                </p>
                <a href="#" class="read-more" data-target="content-3">Read More</a>
              </div>
  
              <div class="social">
                <ul>
                  <li>
                    <a href="/"><i class="bi bi-github"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="bi bi-globe"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="bi bi-facebook"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="bi bi-twitter-x"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="bi bi-linkedin"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="collaborators bg">
  <div class="container">
    <header class="text-center pb-5">
      <h2>Collaborators</h2>
    </header>

    <div class="row">
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Garrett Flynn</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Luiz Tauffer</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>
    </div>
  </div>
</section>

<section class="collaborators">
  <div class="container">
    <header class="text-center pb-5">
      <h2>Alumni</h2>
    </header>

    <div class="row">
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Garrett Flynn</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Luiz Tauffer</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>

      <!---->
      <div class="col-md-3 d-flex my-padi">
        <div class="card d-flex">Alessio Buccino</div>
      </div>
    </div>
  </div>
</section>

<!-- Call to action Section - Home Page -->
<section class="cta cta-team">
  <div class="container bg">
    <div class="row justify-content-between">
      <div class="col-lg-6 col-md-7 p-5" ta-aos="fade-up" data-aos-delay="100">
        <h2 class="my-padi">Job Openings</h2>
        <br />
        <p class="my-padi">
          We believe that the future of neuroscience will be driven by
          collaboration between labs. Our mission is to develop channels of
          communication and distribution of resources between labs to...
        </p>

        <div class="btn m-0 p-0 mt-5 my-padi">
          <a class="btn-getstarted" href="{{ .Site.BaseURL }}/work-with-us/">Read More <i
              class="bi bi-arrow-up-right"></i></a>
        </div>
      </div>

      <div class="col-lg-6 col-md-5 img" ta-aos="fade-down" data-aos-delay="200">
        <img src="{{ .Site.BaseURL }}/assets/img/team-cta.png" alt="CTA Image" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<!-- End Call to action Section -->

{{end}}