{{define "main"}}

<section class="inner-page-hero ww-inner">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 text-center">
        <h2>{{ .Site.Data.work.main_heading }}</h2>
      </div>
    </div>
  </div>
</section>

<!-- Clients Section - Home Page -->
<section class="mission inner">
  <div class="container mission-bg p-5">
    <div class="row align-items-center">
      <div class="col-lg-6 content">
        <h2 data-aos="fade-up" data-aos-delay="300">{{ .Site.Data.work.card_heading }}</h2>

        <img src="{{ .Site.BaseURL }}{{ .Site.Data.work.card_image }}" alt="Mission Image"
          class="img-fluid d-block d-lg-none mt-5 mb-5" />
        <p data-aos="fade-up" data-aos-delay="300">
          {{ .Site.Data.work.card_paragraph }}
        </p>
      </div>

      <div class="col-lg-6 d-none d-lg-block" data-aos="fade-up" data-aos-delay="100">
        <img src="{{ .Site.BaseURL }}{{ .Site.Data.work.card_image }}" alt="Mission Image" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->
<section class="container work-with-us p-5">
  {{ if .Site.Data.work.video }}
  <div class="video" data-aos="fade-up">
    <video controls start="2" id="newVideo" class="rounded-4">
      <source src="/{{ . }}" type="video/mp4">
  </video>
  </div>
  {{ else }}
  <div data-aos="fade-up youtube-video">
    <iframe class="rounded-4 w-100" height="700px" src="{{ .Site.Data.work.youtube }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</section>
{{ end }}

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
  <div class="container p-5" data-aos="fade-up">
    <div class="text ps-3">
      {{ if .Site.Data.work.new_job }}
      <h2 data-aos="fade-up" class="py-3">Open Positions</h2>
      {{ else }}
      <h2 data-aos="fade-up" class="py-3">We are not currently hiring</h2>
      {{ end }}
    </div>
    <div class="row gy-4">
      <div class="col-lg-12">
        <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

          {{ range .Site.Data.work.new_job }}
          <div class="accordion-item">
            <h3 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#faq-content-{{ .job_number }}">
                <div class="text">
                  <div class="content">{{ .post }}</div>
                  <div class="list d-flex">
                    <div class="item"><i class="bi bi-calendar"></i> {{ .date }}</div>
                    <div class="item"><i class="bi bi-geo-alt"></i>{{ .type }}</div>
                    <div class="item"><i class="bi bi-briefcase"></i> {{ .work }}</div>
                  </div>
                </div>
              </button>
            </h3>
            <div id="faq-content-{{ .job_number }}" class="accordion-collapse collapse" data-bs-parent="#faqlist">
              <div class="accordion-body">
                <div class="row mt-5">
                  <div class="col-lg-7">
                    <h3>Summary</h3>
                    <p>{{ .summary }}</p>
                    <br />
                    <h3>Essential functions:</h3>
                    <ul>
                      {{ range .essential_functions }}
                      <li><i class="bi bi-check-circle-fill"></i>{{ . }}</li>
                      {{ end }}
                    </ul>
                    <div class="btn m-0 p-0 mt-5 d-none d-lg-flex">
                      <a class="btn-getstarted" href="{{ .button_url }}">Apply now <i
                          class="bi bi-arrow-up-right"></i></a>
                    </div>
                  </div>
                  <div class="col-lg-5 gradiant-bg">
                    <h3>The ideal candidate would have:</h3>
                    <ul>
                      {{ range .requirements }}
                      <li>
                        <i class="bi bi-check-circle-fill"></i>
                        {{ . }}
                      </li>
                      {{ end }}
                    </ul>
                  </div>

                  <div class="btn mt-3 pb-5 d-block d-lg-none">
                    <a class="btn-getstarted" href="mailto:job@website.com">Apply now <i
                        class="bi bi-arrow-up-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}

          <!-- # Faq item-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Frequently Asked Questions Section -->

{{end}}