<!-- Scroll Top Button -->
<a
  href="#"
  id="scroll-top"
  class="scroll-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>

<!-- Preloader -->
<div id="preloader">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>

<footer id="footer" class="footer">
  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-about my-padi">
        <a href="/" class="logo d-flex align-items-center">
          <img src="{{ .Site.BaseURL }}/assets/img/logo-light.png" alt="" />
        </a>
        <p class="d-none d-lg-block collar-sharp">
          © 2024 CatalystNeuro. All Rights Reserved.
        </p>
      </div>

      <div class="col-lg-2 col-6 footer-links my-padi">
        <h4>Sitemap</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/mission">Mission</a></li>
          <li><a href="/software-solution">Software</a></li>
          <li><a href="/clients">Clients</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/team">Team</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links my-padi">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="/work-with-us">Work with us</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="mailto:contact@website.com">Contact Us</a></li>
        </ul>
      </div>

      <div
        class="col-lg-3 col-md-12 footer-contact text-center text-md-start my-padi"
      >
        <h4>Contact us</h4>
        <p>
          <a href="mailto:inquiry@catalystneuro.com"
            ><i class="bi bi-envelope"></i> inquiry@catalystneuro.com</a
          >
        </p>
        <p class="d-block d-lg-none mt-3 collar-sharp">
          © 2024 CatalystNeuro.<br />
          All Rights Reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
