<header id="header" class="header fixed-top d-flex align-items-center">
  <div
    class="container d-flex align-items-center justify-content-between my-padi"
  >
    <a
      href="{{ .Site.BaseURL }}"
      class="logo d-flex align-items-center me-auto me-xl-0"
    >
      <img src="{{ .Site.BaseURL }}/assets/img/logo.png" alt="" />
    </a>

    <!-- Nav Menu -->
    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{{ .Site.BaseURL }}" class="active">Home</a></li>
        <li><a href="{{ .Site.BaseURL }}/mission">Mission</a></li>
        <li class="dropdown has-dropdown">
          <a href="#"
            ><span>Portfolio</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul class="dd-box-shadow">
            <li>
              <a href="{{ .Site.BaseURL }}/software-solution">Software</a>
            </li>

            <li><a href="{{ .Site.BaseURL }}/portfolio">Client</a></li>
          </ul>
        </li>

        <li><a href="{{ .Site.BaseURL }}/team">Team</a></li>
        <li class="dropdown has-dropdown">
          <a href="{{ .Site.BaseURL }}/work-with-us"
            ><span>Work with us</span> <i class="bi bi-chevron-down"></i
          ></a>
          <ul class="dd-box-shadow">
            <li><a href="#">Dropdown 1</a></li>
            <li class="dropdown has-dropdown">
              <a href="#"
                ><span>Deep Dropdown</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul class="dd-box-shadow">
                <li><a href="#">Deep Dropdown 1</a></li>
                <li><a href="#">Deep Dropdown 2</a></li>
                <li><a href="#">Deep Dropdown 3</a></li>
                <li><a href="#">Deep Dropdown 4</a></li>
                <li><a href="#">Deep Dropdown 5</a></li>
              </ul>
            </li>
            <li><a href="#">Dropdown 2</a></li>
            <li><a href="#">Dropdown 3</a></li>
            <li><a href="#">Dropdown 4</a></li>
          </ul>
        </li>
        <li><a href="{{ .Site.BaseURL }}/blog">Blog</a></li>
        <li class="btn-getstarted">
          <a href="{{ .Site.BaseURL }}/contact-us">
            Contact Us
            <i class="bi bi-arrow-up-right"> </i>
          </a>
        </li>
      </ul>

      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
    <!-- End Nav Menu -->
  </div>
</header>
