<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>{{ page.Title}}</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="{{ .Site.BaseURL }}/assets/img/favicon.png" rel="icon" />
  <link href="{{ .Site.BaseURL }}/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="{{ .Site.BaseURL }}/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="{{ .Site.BaseURL }}/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="{{ .Site.BaseURL }}/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="{{ .Site.BaseURL }}/assets/vendor/aos/aos.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!-- Netlify Identity Widget -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <!-- Template Main CSS File -->
  <link href="{{ .Site.BaseURL }}/assets/css/main.css" rel="stylesheet" />

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var newVideo = document.getElementById('newVideo');
      newVideo.addEventListener('loadedmetadata', function () {
        newVideo.currentTime = 1.5; // Set the desired start time in seconds
      });
    });
  </script>
</head>