<style>
  .navmenu .myDropdown:hover > .myDropdownMenu {
    display: block !important;
  } 
</style>

<header id="header" class="header fixed-top d-flex align-items-center">
  <div
    class="container d-flex align-items-center justify-content-between my-padi"
  >
    <a
      href="{{ .Site.BaseURL }}"
      class="logo d-flex align-items-center me-auto me-xl-0"
    >
      <img src="{{ .Site.BaseURL }}/assets/img/logo.png" alt="" />
    </a>

    <!-- Nav Menu -->
    <nav id="navmenu" class="navmenu">
      <ul class="headlist">
        <li><a href="{{ .Site.BaseURL }}" class="active">Home</a></li>
        <li><a href="{{ .Site.BaseURL }}/mission">Mission</a></li>

        <li class="dropdown-center d-xl-none">
          <button href="#" class="dropdown-toggle border-0 bg-transparent w-100" data-bs-toggle="dropdown" aria-expanded="false" type="button">
            <span>Portfolio</span>
          </button>
          <ul class="dropdown-menu w-100">
            <li class="text-center">
              <a class="dropdown-item" href="{{ .Site.BaseURL }}/software-solution">Software</a>
            </li>

            <li class="text-center"><a class="dropdown-item" href="{{ .Site.BaseURL }}/clients">Client</a></li>
            <li class="text-center">
              <a class="dropdown-item" href="{{ .Site.BaseURL }}/projects">Project</a>
            </li>
          </ul>
        </li>

        <li class="d-none d-xl-block dropdown">
          <a href="#" class="dropdown-toggle border-0 bg-transparent w-100" type="button">
            <span>Portfolio</span>
          </a>
          <ul class="megamenu list-unstyled">
            <li class="text-center w-100">
              <a class="" href="{{ .Site.BaseURL }}/software-solution">Software</a>
            </li>

            <li class="text-center w-100"><a class="dropdown-item" href="{{ .Site.BaseURL }}/clients">Client</a></li>
            <li class="text-center w-100">
              <a class="" href="{{ .Site.BaseURL }}/projects">Project</a>
            </li>
          </ul>
        </li>

        <li><a href="{{ .Site.BaseURL }}/team">Team</a></li>
        <li><a href="{{ .Site.BaseURL }}/work-with-us">Work With Us</a></li>
        <li><a href="{{ .Site.BaseURL }}/blog">Blog</a></li>
        <li class="btn-getstarted">
          <a href="mailto:website@gmail.com">
            Contact Us
            <i class="bi bi-arrow-up-right"> </i>
          </a>
        </li>
      </ul>

      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
    <!-- End Nav Menu -->
  </div>
</header>
